<div nz-row>
  <div nz-col nzSpan="16" class="tab">
    <p *ngIf="isLoading$ | async">Loading...</p>
    <nz-tabset>
      <nz-tab nzTitle="Ops Members">
        <div 
          class="ops-member" 
          [class.selected]="opsGuy?.nationalCallSignId === (selectedOpsMember$ | async)?.nationalCallSignId" 
          *ngFor="let opsGuy of (opsMembers$ | async)" 
          (click)="selectOpsMember(opsGuy)">
          {{opsGuy.name}} ({{opsGuy.registration}})
        </div>
      </nz-tab>
      <nz-tab nzTitle="Duty Control">
        <ng-template nz-tab>
          <app-duty-controller [correlatedOpsMembers]="(correlatedOpsMembers$ | async)" (upsertOpsMemberDutyStatus)="upsetDutyStatus($event)"></app-duty-controller>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
  <div nz-col nzSpan="8" style="border: 1px solid #d3d3d3; padding: 1rem;">
    <app-selected-ops [selectedCorrelatedOpsMember]="(selectedCorrelatedOpsMember$ | async)"></app-selected-ops>
  </div>
</div>