<h1>{{selectedCorrelatedOpsMember ? selectedCorrelatedOpsMember.opsMember?.name : 'Select an ops member to start'}}</h1>
<ng-container *ngIf="selectedCorrelatedOpsMember">
  <nz-divider nzText="National Call Sign"></nz-divider>
  <p *ngFor="let item of selectedCorrelatedOpsMember.opsMember | keyvalue">{{item.key}}: <strong>{{item.value}}</strong></p>
  <nz-divider nzText="Latest Duty Status"></nz-divider>
  <p *ngFor="let item of selectedCorrelatedOpsMember.attendance | keyvalue">{{item.key}}: <strong>{{item.value}}</strong></p>
  <nz-divider nzText="Contact Details"></nz-divider>
  <p *ngFor="let item of selectedCorrelatedOpsMember.contact | keyvalue">{{item.key}}: <strong>{{item.value}}</strong></p>
</ng-container>